body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 30% !important;
}

#progress .times,
.card-footer,
.colume-container {

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.colume-container i {
    margin-right: 5px;
}

ul:hover {
    cursor: pointer;
}

li.playing {
    background-color: blue;
    color: white;
}